DATABASE_URL=postgresql://biochem:password@db:5432/biochem_development
DATABASE_PASSWORD=password
RAILS_MASTER_KEY=
DEVISE_JWT_SECRET_KEY=changeme_generate_with_rails_secret
FRONTEND_URL=http://localhost:4321
RAILS_ENV=development
